
yt-live-chat-ticker-paid-message-item-renderer.ytlstm-currency-converted #text {
  font-size: 12px !important;
  text-align: center;
}
.ytlstm-converted-currency {
  font-size: 11px;
  display: block;
}
yt-live-chat-paid-message-renderer.ytlstm-currency-converted #purchase-amount-column {
  position: relative;
}
.ytlstm-paid-message-converted-currency {
  font-size: 12px;
  position: absolute;
  bottom: -12px;
  right: 0;
  width: 150px;
  text-align: right;
  z-index: 1;
}
yt-live-chat-paid-message-renderer #header {
  overflow: visible !important;
}
