@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
  font-family: 'Nunito Sans';
  background: transparent;
  color: rgb(66, 66, 66);
}
#mainContainer {
  width: 1000px;
  padding: 30px 60px;
}
#header {
  font-family: 'Bai Jamjuree', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionTitle, li {
  font-size: 22px;
  margin: 10px 0;
}
section {
  margin: 1.2rem 0;
}
#smallAdPanel {
  background: white;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  box-sizing: border-box;
}
#smallAdPanel {
  flex-direction: column;
}
#smallAdPanel {
  width: 440px;
  height: 280px;
  padding-bottom: 20px;
}
.yt {
  color: red;
}
#iconS {
  width: 120px;
  height: 120px;
}
#textS {
  font-size: 32px;
  font-weight: 500;
}
.container {
  fill: white;
  stroke: rgb(122, 122, 122);
  stroke-width: 10;
}
.divider {
  stroke: rgb(122, 122, 122);
  stroke-width: 10;
}
.play {
  fill: rgb(255, 0, 0);
  stroke: rgb(255, 0, 0);
  stroke-width: 5;
  stroke-linejoin: round;
}
