@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
  font-family: 'Nunito Sans';
  background: transparent;
  color: rgb(66, 66, 66);
}
.container {
  fill: white;
  stroke: rgb(122, 122, 122);
  stroke-width: 10;
}
.divider {
  stroke: rgb(122, 122, 122);
  stroke-width: 10;
}
.play {
  fill: rgb(255, 0, 0);
  stroke: rgb(255, 0, 0);
  stroke-width: 5;
  stroke-linejoin: round;
}
.yt {
  color: red;
}
#name {
  font-size: 32px;
}
#version {
  font-size: 22px;
}
#header {
  display: flex;
}
#icon {
  width: 80px;
  height: 80px;
  margin-left: auto;
}
#mainContainer {
  width: 1000px;
  padding: 30px 60px;
}
#header {
  font-family: 'Bai Jamjuree', sans-serif;
}
.sectionTitle, li {
  font-size: 22px;
  margin: 10px 0;
}
section {
  margin: 1.2rem 0;
}
